.lordsHouse{
width: 80px;
height: 90px;
background-color: #9071a6;
}
.townHouse{
	width: 35px;
	height: 40px;
	background-color: #876839
}
.bush{
	width: 4px;
	height: 5px;
	background-color: #a4b388
}
.treeleavse{
	
}